.jumbotron {
    width: 100%;
    min-height: 200px;
    text-align: center;
    /* padding: 10px; */
}

.title {
    text-align: center;
}


h2 {
    text-align: center;
    color:#0f5172;
}
.scores {
    float: right;
}